.basic_table {
	width:100%;
	border: 1px solid #000000;
	border-collapse: collapse;
}

.basic_table tr td {
	border: 1px solid #000000;
	padding: 3px 15px;
}

.basic_table tr:first-child td {
	background-color:#B0D8EA;
	font-weight: bold;
}

.basic_table_color tr:first-child td {
	background-color:var(--color);
	font-weight: bold;
}

.move {
	cursor: move;
}

.pointer {
	cursor: pointer;
}

table{
	margin:auto;
}